In [1]:
# Realizando las importacioones necesarias
#Numpy, pandas, sklearn
import pandas as pd
import sklearn

#Modelo de selección tts
from sklearn.model_selection import train_test_split as tts

#k-fold-cross-validation
from sklearn.model_selection import cross_val_score

#Label Encoder
from sklearn.preprocessing import LabelEncoder

#MLPRegressor
from sklearn.neural_network import MLPRegressor

#Standard Scaler
from sklearn.preprocessing import StandardScaler

In [2]:
#Cargando los datos
dfR=pd.read_csv('examen2.csv')

In [4]:
dfR.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            700 non-null    int64
 1   LotArea       700 non-null    int64
 2   YearBuilt     700 non-null    int64
 3   BedroomAbvGr  700 non-null    int64
 4   LotShape      700 non-null    object
 5   CentralAir    700 non-null    object
 6   LotFrontage   582 non-null    float64
 7   MasVnrArea    693 non-null    float64
 8   GarageYrBlt   658 non-null    float64
 9   GarageType    658 non-null    object
 10  SalePrice     700 non-null    float64
dtypes: float64(4), int64(4), object(3)
memory usage: 60.3+ KB

# Eliminación de la Columna ID

In [5]:
dfR.drop(['Id'],axis=1, inplace=True)

In [6]:
dfR.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LotArea       700 non-null    int64
 1   YearBuilt     700 non-null    int64
 2   BedroomAbvGr  700 non-null    int64
 3   LotShape      700 non-null    object
 4   CentralAir    700 non-null    object
 5   LotFrontage   582 non-null    float64
 6   MasVnrArea    693 non-null    float64
 7   GarageYrBlt   658 non-null    float64
 8   GarageType    658 non-null    object
 9   SalePrice     700 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 54.8+ KB

# Atributos con valores nulos

In [7]:
dfR.isnull().sum()

LotArea           0
YearBuilt         0
BedroomAbvGr      0
LotShape          0
CentralAir        0
LotFrontage     118
MasVnrArea        7
GarageYrBlt      42
GarageType       42
SalePrice         0
dtype: int64

# Tratamiento de Valores Nulos

### Atributos Numéricos

In [8]:
dfR['LotFrontage'] = dfR['LotFrontage'].fillna(dfR['LotFrontage'].mean())

In [9]:
dfR['MasVnrArea'] = dfR['MasVnrArea'].fillna(dfR['MasVnrArea'].mean())

dfR['GarageYrBlt'] = dfR['GarageYrBlt'].fillna(dfR['GarageYrBlt'].mode()[0])

In [10]:
dfR['GarageYrBlt'] = dfR['GarageYrBlt'].fillna(dfR['GarageYrBlt'].mean())

### Atributos categóricos

In [11]:
dfR['GarageType'] = dfR['GarageType'].fillna(dfR['GarageType'].mode()[0])

## Evidencia de tratamiento de nulos

In [12]:
dfR.isnull().sum()

LotArea         0
YearBuilt       0
BedroomAbvGr    0
LotShape        0
CentralAir      0
LotFrontage     0
MasVnrArea      0
GarageYrBlt     0
GarageType      0
SalePrice       0
dtype: int64

## Variables de tipo Texto a Númer

In [13]:
le = LabelEncoder()
dfR["LotShape"] = le.fit_transform(dfR["LotShape"])
dfR["CentralAir"] = le.fit_transform(dfR["CentralAir"])
dfR["GarageType"] = le.fit_transform(dfR["GarageType"])

In [14]:
xR = dfR.iloc[:, :-1]
xR.head(5)

,LotArea,YearBuilt,BedroomAbvGr,LotShape,CentralAir,LotFrontage,MasVnrArea,GarageYrBlt,GarageType
0,8450,2003,3,3,1,65.0,196.0,2003.0,1
1,9600,1976,3,3,1,80.0,0.0,1976.0,1
2,11250,2001,3,0,1,68.0,162.0,2001.0,1
3,9550,1915,3,0,1,60.0,0.0,1998.0,5
4,14260,2000,4,0,1,84.0,350.0,2000.0,1

In [15]:
yR = dfR.iloc[:,-1]
yR.head()

0    199837.242
1    173959.038
2    214214.022
3    134183.280
4    239613.000
Name: SalePrice, dtype: float64

In [16]:
xR.describe()

,LotArea,YearBuilt,BedroomAbvGr,LotShape,CentralAir,LotFrontage,MasVnrArea,GarageYrBlt,GarageType
count,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000
mean,10864.542857,1971.212857,2.820000,1.920000,0.935714,69.996564,111.803752,1978.089666,2.238571
std,12628.465247,30.090452,0.828084,1.413971,0.245437,20.049010,190.770575,24.630015,1.771318
min,1491.000000,1880.000000,0.000000,0.000000,0.000000,21.000000,0.000000,1900.000000,0.000000
25%,7555.000000,1953.000000,2.000000,0.000000,1.000000,60.000000,0.000000,1961.000000,1.000000
50%,9485.000000,1973.000000,3.000000,3.000000,1.000000,69.996564,0.000000,1978.089666,1.000000
75%,11695.500000,2000.000000,3.000000,3.000000,1.000000,79.000000,180.000000,2001.000000,5.000000
max,215245.000000,2010.000000,8.000000,3.000000,1.000000,174.000000,1600.000000,2010.000000,5.000000

In [17]:
scaler = StandardScaler()
scaler.fit(xR)
scaled_xR = scaler.fit_transform(xR)
scaled_dfR = pd.DataFrame(scaled_xR, columns=xR.columns)

In [18]:
xR = scaled_dfR
xR.describe()

,LotArea,YearBuilt,BedroomAbvGr,LotShape,CentralAir,LotFrontage,MasVnrArea,GarageYrBlt,GarageType
count,7.000000e+02,7.000000e+02,7.000000e+02,7.000000e+02,7.000000e+02,7.000000e+02,7.000000e+02,7.000000e+02,7.000000e+02
mean,4.060244e-17,3.217744e-15,1.674851e-16,2.283887e-17,-5.202188e-17,5.785848e-16,-5.075305e-18,4.192202e-15,7.612958e-17
std,1.000715e+00,1.000715e+00,1.000715e+00,1.000715e+00,1.000715e+00,1.000715e+00,1.000715e+00,1.000715e+00,1.000715e+00
min,-7.427859e-01,-3.033457e+00,-3.407888e+00,-1.358849e+00,-3.815174e+00,-2.445587e+00,-5.864830e-01,-3.172775e+00,-1.264693e+00
25%,-2.622575e-01,-6.057031e-01,-9.909462e-01,-1.358849e+00,2.621112e-01,-4.989629e-01,-5.864830e-01,-6.943514e-01,-6.997374e-01
50%,-1.093189e-01,5.943482e-02,2.175248e-01,7.643526e-01,2.621112e-01,7.093126e-16,-5.864830e-01,0.000000e+00,-6.997374e-01
75%,6.584738e-02,9.573710e-01,2.175248e-01,7.643526e-01,2.621112e-01,4.493925e-01,3.577334e-01,9.308446e-01,1.560083e+00
max,1.619568e+01,1.289940e+00,6.259880e+00,7.643526e-01,2.621112e-01,5.191169e+00,7.806552e+00,1.296514e+00,1.560083e+00

In [19]:
xR_train, xR_test, yR_train, yR_test = tts(xR,yR, test_size=0.2,random_state=123)

In [20]:
modeloR2 = MLPRegressor(hidden_layer_sizes=(6,40,12),
                       max_iter=10000, activation='relu',solver='adam')
modeloR2.fit(xR_train,yR_train)

MLPRegressor(hidden_layer_sizes=(6, 40, 12), max_iter=10000)

In [21]:
scoreR2 = cross_val_score(modeloR2, xR, yR, scoring = "r2", cv=4, n_jobs=-1)
scoreR2

array([0.55534805, 0.22766615, 0.58671928, 0.6055574 ])

In [22]:
scoreR2.mean()

0.4938227207283846